@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #f1D8c9, #f2c3af);
}

main{
    background-color: #ffff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8f726291;
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #885308;
}

h2{
    color: #125189;
}
p{
    text-align: justify;
}

